@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Klasyczny garaż jest to aplikacja webowa kontrolująca ołgłoszenia, naprawy i sprzedaż samochodów</h3>

<p>Panel ten został stworzony aby w graficzny sposób zarządzać systemem</p>
