@{
    ViewBag.Title = "Classic Garage";
}

<div class="jumbotron">
    <h1>Classic Garage</h1>
    <p class="lead">Klasyczny garaż jest to aplikacja webowa kontrolująca ołgłoszenia, naprawy i sprzedaż samochodów</p>
 
</div>

<div class="jumbotron">
    <img src="~/Photos/garage.jpg" alt="DreamGarage" width="1000" height="600">
</div>